.intro-7 {
  padding: 3rem 1rem;
  border-bottom: 1px solid $c-split;
  .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
  }

  .card {
    background: #fff;
    border-bottom: 3px solid $c-primary;
    flex: 1;
    height: 240px;
    margin: 1rem;
    min-width: 240px;
    padding: 1rem;

    &:nth-child(2) {
      box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.06);
    }
  }

  .title {
    color: #222;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .desc {
    font-size: 18px;

    > text {
      display: block;
      margin-bottom: 0.6rem;
      font-size: 0.9rem;
      color: #666;
    }
  }

  .color {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 100px;
  }

  .item {
    border-radius: 50%;
    height: 44px;
    width: 44px;
    margin: 30px;

    &:nth-child(1) {
      background: $c-primary;
    }

    &:nth-child(2) {
      background: $c-font-dark;
    }

    &:nth-child(3) {
      background: $c-font-normal;
    }

    &:nth-child(4) {
      box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.06);
    }
  }
}
