@font-face {
  font-family: 'cm-iconfont';
  src: url('//at.alicdn.com/t/font_399961_igzkh6reivg.eot?t=1534383477995'); /* IE9*/
  src: url('//at.alicdn.com/t/font_399961_igzkh6reivg.eot?t=1534383477995#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('//at.alicdn.com/t/font_399961_igzkh6reivg.ttf?t=1534383477995')
      format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
      url('//at.alicdn.com/t/font_399961_igzkh6reivg.svg?t=1534383477995#cm-iconfont')
      format('svg'); /* iOS 4.1- */
}

.cm-iconfont {
  font-family: 'cm-iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-contact-qq:before {
  content: '\e612';
}

.icon-contact-steam:before {
  content: '\e864';
}

.icon-contact-playstation:before {
  content: '\e8c3';
}

.icon-contact-xbox:before {
  content: '\ebb7';
}

.icon-contact-wechat:before {
  content: '\e63a';
}

.icon-contact-weibo:before {
  content: '\e641';
}

.icon-contact-github:before {
  content: '\eee2';
}

.icon-contact-linkedin:before {
  content: '\e6ce';
}

.icon-contact-bilibili:before {
  content: '\e64f';
}

.icon-contact-coding:before {
  content: '\e650';
}

.icon-contact-v2ex:before {
  content: '\e663';
}

.icon-logo-text:before {
  content: '\e628';
}

.icon-name:before {
  content: '\e629';
}

.icon-caa-logo:before {
  content: '\e62a';
}

.icon-caa-text:before {
  content: '\e62b';
}

.icon-point-main:before {
  content: '\e62c';
}

.icon-point:before {
  content: '\e62d';
}

.icon-doc-exp:before {
  content: '\e62e';
}

.icon-doc-profile:before {
  content: '\e62f';
}

.icon-doc-spec:before {
  content: '\e630';
}

.icon-doc-fe:before {
  content: '\e631';
}

.icon-doc-edu:before {
  content: '\e632';
}

.icon-doc-ued:before {
  content: '\e633';
}

.icon-doc-portfolio:before {
  content: '\e634';
}

.icon-social-mail:before {
  content: '\e635';
}

.icon-social-linkedin:before {
  content: '\e636';
}

.icon-social-github:before {
  content: '\e637';
}

.icon-social-coding:before {
  content: '\e638';
}

.icon-social-wechat:before {
  content: '\e639';
}

.icon-logo-2:before {
  content: '\e647';
}

.icon-logo-1:before {
  content: '\e648';
}

.icon-logo-shadow-1:before {
  content: '\e63d';
}

.icon-logo-shadow-2:before {
  content: '\e63e';
}

.icon-logo-text-combine:before {
  content: '\e63f';
}

.icon-contact-ns:before {
  content: '\e640';
}

.icon-contact-nga:before {
  content: '\e642';
}

.icon-social-rss:before {
  content: '\e645';
}

.icon-logo:before {
  content: '\e64e';
}

.icon-mouse:before {
  content: '\e651';
}

.icon-toc-active:before {
  content: '\e652';
}

.icon-toc:before {
  content: '\e653';
}

.icon-contact:before {
  content: '\e655';
}

.icon-project:before {
  content: '\e656';
}
