@import 'import';

.container {
  padding: 3rem 0;
  .contact {
    @include showup;
    padding: 1rem;
  }
  .box {
    padding: 1rem;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 4px 16px rgba(#000, 0.08);
  }
  .text {
    margin-left: 1rem;
    color: #666;
    font-size: 0.9rem;
  }
  .text-hover {
    color: $c-primary;
  }
}
