@import 'import';
.container {
  @include showup;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.title {
  padding: 2rem 0;
  @include showup;
}
