@import '../../styles/import';

.article {
  padding: 1rem 0;
  .box {
    display: flex;
    padding: 0.5rem 1rem;
  }
  .box-hover {
    background: #f8f8f8;
  }
  image {
    width: 3rem;
    min-width: 3rem;
    margin-right: 1rem;
  }
  .content {
    height: 4rem;
  }
  .title {
    font-weight: 500;
    margin-bottom: 0.4rem;
  }
  .desc {
    font-size: 0.7rem;
    margin-bottom: 0.4rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.3;
  }
  .type {
    font-size: 0.6rem;
    color: $gold-dark;
    display: flex;
    View {
      color: #999;
      margin-left: 0.5rem;
    }
  }
}
