@font-face {
  font-family: 'cm-font';
  src: url('https://canisminor.cc/font/Futura.eot');
  src: url('https://canisminor.cc/font/Futura.eot?#font-spider')
      format('embedded-opentype'),
    url('https://canisminor.cc/font/Futura.woff2') format('woff2'),
    url('https://canisminor.cc/font/Futura.woff') format('woff'),
    url('https://canisminor.cc/font/Futura.ttf') format('truetype'),
    url('https://canisminor.cc/font/Futura.svg') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: 'cm-font';
  src: url('https://canisminor.cc/font/FuturaBold.eot');
  src: url('https://canisminor.cc/font/FuturaBold.eot?#font-spider')
      format('embedded-opentype'),
    url('https://canisminor.cc/font/FuturaBold.woff2') format('woff2'),
    url('https://canisminor.cc/font/FuturaBold.woff') format('woff'),
    url('https://canisminor.cc/font/FuturaBold.ttf') format('truetype'),
    url('https://canisminor.cc/font/FuturaBold.svg') format('svg');
  font-weight: bold;
}
