@font-face {
  font-family: 'cm-iconfont'; /* project id 399961 */
  src: url('//at.alicdn.com/t/font_399961_rr27nlbd62w6d2t9.eot');
  src: url('//at.alicdn.com/t/font_399961_rr27nlbd62w6d2t9.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_399961_rr27nlbd62w6d2t9.woff') format('woff'),
    url('//at.alicdn.com/t/font_399961_rr27nlbd62w6d2t9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_399961_rr27nlbd62w6d2t9.svg#cm-iconfont')
      format('svg');
}

.cm-iconfont {
  font-family: 'cm-iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-contact-qq:before {
  content: '\e612';
}

.icon-contact-steam:before {
  content: '\e864';
}

.icon-contact-playstation:before {
  content: '\e8c3';
}

.icon-contact-xbox:before {
  content: '\ebb7';
}

.icon-contact-weibo:before {
  content: '\e641';
}

.icon-contact-github:before {
  content: '\eee2';
}

.icon-contact-bilibili:before {
  content: '\e64f';
}

.icon-contact-coding:before {
  content: '\e650';
}

.icon-contact-v2ex:before {
  content: '\e663';
}

.icon-logo-text:before {
  content: '\e628';
}

.icon-name:before {
  content: '\e629';
}

.icon-caa-logo:before {
  content: '\e62a';
}

.icon-caa-text:before {
  content: '\e62b';
}

.icon-point-main:before {
  content: '\e62c';
}

.icon-point:before {
  content: '\e62d';
}

.icon-doc-exp:before {
  content: '\e62e';
}

.icon-doc-profile:before {
  content: '\e62f';
}

.icon-doc-spec:before {
  content: '\e630';
}

.icon-doc-fe:before {
  content: '\e631';
}

.icon-doc-edu:before {
  content: '\e632';
}

.icon-doc-ued:before {
  content: '\e633';
}

.icon-doc-portfolio:before {
  content: '\e634';
}

.icon-social-mail:before {
  content: '\e635';
}

.icon-social-linkedin:before {
  content: '\e636';
}

.icon-social-github:before {
  content: '\e637';
}

.icon-social-coding:before {
  content: '\e638';
}

.icon-social-wechat:before {
  content: '\e639';
}

.icon-logo-2:before {
  content: '\e647';
}

.icon-logo-1:before {
  content: '\e648';
}

.icon-logo-shadow-1:before {
  content: '\e63d';
}

.icon-logo-shadow-2:before {
  content: '\e63e';
}

.icon-logo-text-combine:before {
  content: '\e63f';
}

.icon-contact-ns:before {
  content: '\e640';
}

.icon-contact-nga:before {
  content: '\e642';
}
