@import '../../styles/import';
.card {
  width: 100%;
  position: relative;
  background: #fff;
  .header {
    font-weight: 600;
    height: 3.5rem;
    padding: 0 1rem;
    line-height: 3.5rem;
    background: #fff;
  }
  .split {
    height: 1px;
    background: #eee;
    width: 100%;
  }
  .footer {
    text-align: center;
    line-height: 3.5rem;
    height: 3.5rem;
    font-size: 0.9rem;
    color: $gold-dark;
  }
}

.footer-hover {
  background: #f8f8f8;
}
