image,
video {
  width: auto;
  display: block;
}
image {
  height: auto;
}
video {
  height: 220px;
}

image {
  &.full {
    margin-left: -1rem;
    margin-right: -1rem;
    max-width: 100vw;
    width: 100vw;
  }
  &.nozoom {
    height: 1rem;
    width: auto;
    margin-bottom: 0.2rem;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.shadow {
    box-shadow: 0 4px 20px 0 rgba(#000, 0.08);
    margin-left: auto;
    margin-right: auto;
  }

  &.pixel {
    image-rendering: pixelated; //像素不模糊
  }
}
