.h2w {
  font-size: 0.9rem;
  line-height: 1.8;
  word-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}
.h2w__main {
  @include showup;
}

/**标题**/

.h2w__h1,
.h2w__h2,
.h2w__h3,
.h2w__h4,
.h2w__h5,
.h2w__h6 {
  color: #222;
  font-weight: 600;
  margin-bottom: 2rem;
}
.h2w__h1,
.h2w__h2 {
  margin-top: 4rem;
}
.h2w__h3,
.h2w__h4 {
  margin-top: 3rem;
}
.h2w__h1 {
  font-size: 1.7rem;
}
.h2w__h2 {
  font-size: 1.5rem;

  &:after {
    color: #e3e3e3;
    content: ' #';
  }
}
.h2w__h3 {
  font-size: 1.4rem;
}
.h2w__h4 {
  font-size: 1.3rem;
}
.h2w__h5 {
  font-size: 1.2rem;
}
.h2w__h6 {
  font-size: 1rem;
}
/**表格**/

.h2w__table {
  border: 2px solid #eee;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.h2w__colgroup {
  display: table-column-group;
}
.h2w__col {
  display: table-column;
}
.h2w__thead {
  display: table-header-group;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  color: #333;
}
.h2w__tbody {
  display: table-row-group;
}
.h2w__tfoot {
  display: table-footer-group;
}
.h2w__tr {
  display: table-row;
}
.h2w__th,
.h2w__td {
  border: 0.5px solid #f8f8f8;
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
  display: table-cell;
}
.h2w__th {
  font-weight: bold;
  font-weight: 600;
}
/**代码块**/
.h2w__code {
  $code-color: desaturate($c-primary, 60%);
  display: inline-block;
  background: rgba($code-color, 0.12);
  border-radius: 3px;
  color: darken($code-color, 40%);
  font-family: $font-code;
  font-size: 0.8em;
  font-weight: 400;
  padding: 0 0.4em;
  margin: 0 0.2em;
}

.h2w__pre {
  padding: 1rem;
  font-size: 0.8rem;
  word-break: normal;
  white-space: pre;
  overflow-x: auto;
  display: block;
  background: #272822;
  color: #ddd;
  margin-left: -1rem;
  margin-right: -1rem;
  font-family: $font-code;
  .h2w__code {
    background: transparent;
    color: #ddd;
    line-height: 1.8;
    padding: 0;
    border: 0;
    font-size: 100%;
  }
}

.h2w__pre {
  .h2w__span,
  .h2w__a,
  .h2w__span,
  .h2w__b,
  .h2w__strong,
  .h2w__i,
  .h2w__em {
    display: inline;
  }
}
/**列表**/

.h2w__ul,
.h2w__ol {
  margin-bottom: 40px;
  list-style: none;
  padding: 0;
  padding-left: 0.25rem;
}
.h2w__ul .h2w__ol,
.h2w__ol .h2w__ul {
  margin-bottom: 0;
}
.h2w__li {
  padding-left: 1.5rem;

  &:before {
    content: '◆';
    font-size: 0.5em;
    margin-left: -1.5rem;
    margin-top: 0.3rem;
    opacity: 0.5;
    position: absolute;
  }
}
/**一级ol样式**/

.h2w__ol {
  list-style-type: decimal;
}
/**二级ol样式**/

.h2w__ul .h2w__ol,
.h2w__ol .h2w__ol {
  list-style-type: lower-roman;
}
/**三级ol样式**/

.h2w__ul {
  .h2w__ul .h2w__ol,
  .h2w__ol .h2w__ol {
    list-style-type: lower-alpha;
  }
}
.h2w__ol {
  .h2w__ul .h2w__ol,
  .h2w__ol .h2w__ol {
    list-style-type: lower-alpha;
  }
}
/**一级ul样式**/

.h2w__ul {
  list-style-type: disc;
  .h2w__ul {
    list-style-type: circle;
  }
}
/**二级ul样式**/

.h2w__ol {
  .h2w__ul {
    list-style-type: circle;
  }
  .h2w__ol .h2w__ul,
  .h2w__ul .h2w__ul {
    list-style-type: square;
  }
}
/**三级样式**/

.h2w__ul {
  .h2w__ol .h2w__ul,
  .h2w__ul .h2w__ul {
    list-style-type: square;
  }
}
/**块元素**/

.h2w__p,
.h2w__pre,
.h2w__blockquote,
.h2w__ul,
.h2w__ol {
  margin-bottom: 1.5rem;
}

.h2w__kbd {
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 #959da5;
  display: inline-block;
  font-family: $font-code;
  font-size: 0.9em;
  height: 1.2em;
  line-height: 1.2em;
  padding: 0 0.4em 1.3em;
}
.h2w__blockquote {
  border-left: 4px solid $c-primary;
  padding-left: 1.5rem;
  width: 100%;
  color: #888;
  view,
  text {
    color: #888;
  }
}
/**内连元素**/

.h2w__a,
.h2w__span,
.h2w__b,
.h2w__strong,
.h2w__i,
.h2w__em {
  display: inline;
}
.h2w__b,
.h2w__strong {
  font-weight: 600 !important;
}
.h2w__i,
.h2w__em {
  font-style: italic;
}
/**文本删除线**/

.h2w__s,
.h2w__strike,
.h2w__del {
  text-decoration: line-through;
}
/**文本下划线**/

.h2w__ins,
.h2w__u {
  text-decoration: underline;
}
/**链接**/

.h2w__a {
  color: darken($c-primary, 15%);
}
.h2w__hr {
  height: 8px;
  margin: 40px 0;
}
/**荧光标记**/

.h2w__mark {
  border-radius: 4px;
}
/**上标、下标**/

.h2w__sup,
.h2w__sub {
  font-size: 75%;
  position: relative;
}
.h2w__sup {
  top: -0.5em;
}
.h2w__sub {
  bottom: -0.25em;
}
/**emoji表情**/

.h2w__g-emoji {
  margin: 0 0.1em;
  font-family: 'Apple Color Emoji', 'Segoe UI', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}
