.no-video {
  width: 100%;
  height: 4rem;
  font-size: 0.7rem;
  color: #999;
  background: #f8f8f8;
  text-align: center;
  line-height: 4rem;
}

.video {
  width: 100%;
}

.inline_image {
  display: block;
  width: 100%;
  height: auto;
}
