.me {
  width: 100vw;
  .header {
    display: flex;
    align-items: center;
    image {
      width: 3.5rem;
      margin-right: 1rem;
    }
    .title {
      font-weight: 600;
      margin-bottom: 0.3rem;
    }
    .desc {
      font-size: 0.6rem;
    }
  }
  .num {
    display: flex;
    margin-top: 1rem;
    .box {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .value {
      font-weight: 600;
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
      text-align: center;
    }
    .title {
      font-size: 0.6rem;
      text-align: center;
    }
  }
  .cell {
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    .title {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #eee;
      width: 100%;
      flex: 1;
    }
    .icon {
      width: 48px;
      margin-right: 1rem;
    }
    .right {
      width: 32px;
      margin-right: 1rem;
    }
    &:last-child {
      .title {
        border-bottom: none;
      }
    }
  }
}

.cell-hover {
  background: #f8f8f8;
}
