.me {
  .header {
    display: flex;
    align-items: center;
    image {
      width: 3.5rem;
      margin-right: 1rem;
    }
    .title {
      font-weight: 600;
      margin-bottom: 0.3rem;
    }
    .desc {
      font-size: 0.6rem;
    }
  }
  .num {
    display: flex;
    margin-top: 1rem;
    .box {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .value {
      font-weight: 600;
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
      text-align: center;
    }
    .title {
      font-size: 0.6rem;
      text-align: center;
    }
  }
  .cell {
    height: 3rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    width: 100%;
    border-bottom: 1px solid #eee;
    &:last-child {
      border-bottom: none;
    }
  }
}
