@import 'import';
@import 'root';
page {
  color: #333;
  position: relative;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  font-family: 'cm-font', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    sans-serif;
  font-weight: 400;
}
view {
  position: relative;
  box-sizing: border-box;
}
.page {
  width: 100%;
  @include showup;
}
.nav-holder {
  height: 64px;
}

.show {
  @include showup;
  height: auto !important;
  overflow: visible !important;
}
.hide {
  opacity: 0;
  height: 100vh;
  overflow: hidden;
}
