@import './styles/font';
@import './styles/import';

page {
  font-size: 1rem;
  line-height: 1;
  color: #222;
  position: relative;
  font-weight: 400;
  background: #f8f8f8;
}

View,
Text,
image {
  box-sizing: border-box;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.column {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.spacing {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  position: relative;
}

.view {
  width: 100vw;
  overflow: hidden;
}
